{% extends 'admin/base.admin.html.twig' %}
{% block body %}
	<div class="page-content col-full">
		<h1 class="text-center">Entitées de
			{{ entities.name }}</h1>
		<div class="table">

			<table>
				<thead>
					<tr>
						{% for field in entities.fields %}
							<th>{{ field }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for data in entities.data %}
						<tr>
							{% for field in entities.fields %}
								{% if data[field].timestamp is defined %}
									<td>{{ data[field]|date('d/m/Y') }}</td>
								{% else %}
									<td>{{ data[field] }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
