{% extends "base.html.twig" %}
{% block navigation %}
	<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
		<span>Menu</span>
	</button>
	<div class="menu">
		<ul class="nav-menu">
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/admin/musiques">Musiques</a>
			</li>
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/admin/livres">Livres</a>
			</li>
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/admin/instruments">Instruments</a>
			</li>
			<li class="page_item page-item-1 current_page_item focus">
				<a href="/admin/database">Base de données</a>
			</li>
		</ul>
	</div>
{% endblock %}