{% extends 'base.html.twig' %}
{% block body %}
	<header id="header" class="col-full">
		<div id="logo">
			<h1 class="site-title">Votre compte</h1>
		</div>
		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
				<span>Menu</span>
			</button>
			<div class="menu">
				<ul class="nav-menu">
					<li class="page_item page-item-1">
						<a href="/compte">Vos informations</a>
					</li>
					<li class="page_item page-item-2 current_page_item focus">
						<a href="/compteCommandes">Vos commandes</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div id="content" class="col-full">
		<h2>Vos informations</h2>
		<h4>Nom :
			{{ compte.getNom() }}</h4>
		<h4>Prenom :
			{{ compte.getPrenom() }}</h4>
		<h4>Email associé :
			{{ compte.getEmail() }}</h4>
		<a href="/deconnexion">Déconnexion</a>
	</div>
{% endblock %}
